:root {
    --row-odd: #f9fafbb4;
    --row-even: #7272729a;
    --row-hover: #8b8b8bbd;
}


/* CONTÊINER QUE ROLA */
.tb_padraoGeral {
    height: 88vh;
    /* ocupa a tela */
    box-sizing: border-box;
    overflow: auto;
    /* rolagem AQUI */
    -webkit-overflow-scrolling: touch;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    /* ajuda o sticky em alguns casos */
    scrollbar-width: none;
    /* esconde scroll no Firefox */
}

.tb_padraoGeral::-webkit-scrollbar {
    display: none;
}

/* esconde scroll no Chrome */

/* TABELA */
.tb_zebrada {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    /* REMOVA o overflow do table para não “cortar” o sticky */
    /* overflow: hidden;  <-- remova */
    table-layout: fixed;
}

.tb_zebrada i{
    cursor: pointer;
}

/* CÉLULAS */
.tb_zebrada th,
.tb_zebrada td {
    text-align: center;
    padding: 8px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid #5e5e5e;
}

/* CABEÇALHO FIXO */
.tb_zebrada thead th {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    color: var(--texto-principal);
    background: var(--input-bg);
    font-size: 12px;
    border-bottom: 1px solid #5e5e5e;
}

.tb_zebrada tbody tr {
    font-size: 13px;
}

.tb_zebrada tbody tr:hover {
    background: var(--tb-hover) !important;
}

/* CANTOS ARREDONDADOS – coloque o raio no CONTÊINER, não no table */
.tb_padraoGeral {
    border-radius: 20px;
    overflow: auto;
}

.tb_zebrada thead tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

.tb_zebrada thead tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

.tb_zebrada tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.tb_zebrada tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}