.p_titulo{
    text-align: center;
    color: var(--texto_cinza);
}
.p_titulo .tituloform{
    font-size: 14px;
}
.form__os{
    width: 100%;
}


.p_padrao{
    background-color: var(--white);
    border: 1px solid var(--cor_fundotabela);
    box-shadow: 1px 1px 3px var(--cor_letraFundo);
    border-radius: 8px;
    margin-block: 10px;
    padding: 10px;
}

.linha_infoOS{
    margin-top: 0px;
    display: flex;
    gap: 5px;
}
.linha_observacao{
    margin-bottom: 0px;
}

.info_padrao{
    margin-block: 5px;
}

.linha_valorData{
    display: flex;
    justify-content: space-between;
}

.dica{
    font-size: 10px;
    color: var(--cinza_claro);
    padding-left: 5px;
}
.painel_dadosOS {
    display: flex;
    font-size: 12px;
    width: 600px;
    border-radius: 10px;    
    background: var(--bg-padrao);
    color: var(--texto-principal);
    max-height: 700px;
    min-height: 700px;
}
.painel_todosOS {
    width: 700px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}


.p_btAnexo{
    display: flex;
    justify-content: flex-end;
}

.p_anexosRolante{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5px;
}

.p_anexoPadrao{
    
    color: var(--cinza_claro);
    width: 70px;
    height: 70px;
    border: 1px solid var(--cor_fundotabela);
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.p_anexoPadrao:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 3px var(--cor_letraFundo);
    border: 1px solid var(--cinza_claro);
}


.iconeAnexo{
    font-size: 30px;
    padding-block: 8px;
}

.linha_tituloAnexo p{
    font-size: 11px;
}

.p_anexado{
    background-color: var(--cor_fundoPainelAnexos) !important;
    color: var(--texto_cinza) !important;
}

.p_acoes {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    background: linear-gradient(35deg, #8a3bbe31, #feb47b49, #86dce75e);
    border-radius: 10px;
}

