.painel_pagina {
    color: #181818;
    background-color: #f1f1f1;
}

.swal2-container {
  z-index: 99999 !important;
}

.painel_menuSuperior {
    display: flex;
    justify-content: space-between;

    font-size: 13px;
    align-items: center;
}

.painel_EsqBtAcoes {
    display: flex;
    align-items: center;
    gap: 10px;
}


#usuarios_online {
    font-size: 10px;
}

#seletor_data {
    width: 120px;
    color: grey;
    cursor: pointer;
}

.bt_abrirmenu {
    cursor: pointer;
}


.dark-mode {
    background-color: #272727 !important;
    color: #c0c0c0;
}

.dark-mode-border {
    border: 1px solid rgb(31, 31, 31);
    box-shadow: 1px 1px 1px 1px rgb(31, 31, 31) !important;
}

.dark-mode-inverter {
    background-color: rgb(51, 51, 51) !important;
    color: #c0c0c0 !important;
}

.notification-lista {
    display: none;
    position: absolute;
    color: var(--texto_cinza);
    font-size: 12px;
    right: 0;
    top: 40px;
    background-color: #f1f1f1;
    border: 1px solid var(--cor_fundotabela);
    box-shadow: 1px 1px 5px 2px var(--cinza_tituloForm);
    border-radius: 10px;
    padding: 10px;
    width: 420px;
    z-index: 100;
}


.painel_semanal {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.conjuntoServidor i {
    padding-left: 2px;
}

#status {
    padding-left: 5px;
}

.painelDia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 360px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 8px;
    border-radius: 10px;
}

.painel_Dia {
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

.painelDia.bloqueado {
    pointer-events: none;
    opacity: 0.4;
}

.diaanterior {
    background-color: #F8F7F8;
}


.diahoje {
    background-color: #F8F7F8;
}

.diaamanha,
.diaamanha2 {
    background-color: #F8F7F8;
}

.painelInfoDia {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 30px;
}

.iconeStatusDia {
    position: relative;
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
    width: 20px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    background-color: #ffffff;
    top: -15px;
    right: -65px;
}

.iconeStatusDia i.fa-file-signature {
    font-size: 16px;
    color: rgb(170, 49, 49);
    cursor: pointer;
}

.iconeStatusDia i.fa-file-circle-check {
    font-size: 16px;
    transform: scale(1.2);
    color: rgb(69, 170, 49);
    cursor: pointer;
}

.iconeStatusDia i.fa-file-zipper {
    font-size: 16px;
    color: #666;
}

.painel_colaboradores {
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: #EEEEF0;
    border: 1px solid #E4E4E5;
    margin-inline: 10px;
    border-radius: 10px;
}

.p_colabsDisp {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    max-height: 200px;
    gap: 6px;
    padding: 5px;
    flex-wrap: wrap;
    align-content: space-around;
}

.seta-esquerda {
    left: 5px;
}

.seta-direita {
    right: 5px;
}


.painel_BuscaOS {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 12px;
}

.painel_BuscaOS .pesquisarOS {
    padding: 8px 8px 8px 8px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
}

.buscaLadoEsq {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.buscaLadoEsq i {
    font-size: 15px;
    color: #9b9b9b;
    padding: 8px 8px 8px 8px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 5px;
}

.filtroLadoDir {
    display: flex;
    align-items: center;
}

.filtroLadoDir i {
    font-size: 15px;
    color: #9b9b9b;
    padding: 8px 8px 8px 8px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 5px;
}

.filtroLadoDir i:hover,
.buscaLadoEsq i:hover {
    color: #383838;
    cursor: pointer;
}

.painel_daOS {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 8px;
}

.painel_OS {
    display: block;
    padding: 0px !important;
    transition: all 0.3s ease;
    min-width: 340px;
    max-width: 340px;
    border: 1px solid var(--cor_fundotabela);
    border-radius: 10px;
    background-color: #FEFEFF;
}

.painel_OS .p_infoOS {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 2px;
    padding: 6px 8px 4px 8px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.painel_OS .p_infoOS .lbl_OS {
    font-weight: bold;
    cursor: pointer;
    width: 18%;
    text-align: left;
}

.painel_OS .p_infoOS .lbl_OS:hover {
    color: #000;
    scale: 1.1;
}

.painel_OS .p_infoOS .lbl_descricaoOS {
    width: 64%;
    text-align: center;
    white-space: nowrap;/* Impede quebra de linha */
    overflow: hidden;/* Oculta o que passar da largura */
    text-overflow: ellipsis;/* Adiciona "..." no fim */
}

.painel_OS .p_infoOS .lbl_clienteOS {
    width: 18%;
    text-align: right;
    white-space: nowrap;/* Impede quebra de linha */
    overflow: hidden;/* Oculta o que passar da largura */
    text-overflow: ellipsis;/* Adiciona "..." no fim */
}

.p_colabs {
    display: none;
}

.p_colabs:has(.colaborador),
.p_colabs:has(.buscarColab) {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    gap: 5px;
    padding: 5px;
}

.p_colabsDisp .colaborador:has(.nome.lider) {
    display: none;
}

.destino-highlight {
    background-color: var(--painel_ColabAceita) !important;
    /* verde claro */
    transition: background-color 0.2s ease;
}

.destino-validado {
    background-color: var(--painel_ColabAceitaDentro) !important;
    /* verde claro */
    transition: background-color 0.2s ease;
}

.colaborador {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 6px 4px 6px;
    text-align: center;
    height: 11px;
    width: 90px;
    border-radius: 10px;
    color: var(--branco);
    background-color: #373839;
}

.colaborador:hover {
    scale: 1.05;
}

.colaborador.ferias {
    background-color: var(--ferias);
}

.colaborador.afastamento {
    background-color: var(--afastado);
}

.colaborador.saude {
    background-color: var(--saude);
}

.colaborador.paternidade {
    background-color: var(--paternidade);
}

.colaborador.afastamento .nome {
    color: var(--branco);
}

.colaborador.saude .nome {
    color: var(--branco);
}

.colaborador.ferias .nome {
    color: var(--preto);
}

.colaborador.paternidade .nome {
    color: var(--preto) !important;
}

.colaborador.aniver {
    position: relative;
    overflow: hidden;
}

.colaborador.aniver::before {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, transparent, rgba(255, 255, 255, 0.493), transparent);
    transform: rotate(25deg);
    animation: brilhoBottomLeft 2.5s infinite;
}

.colaborador.aniver .nome {
    color: var(--branco);
}

.colaborador.aniver .nome::after {
    content: "\f1fd";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

@keyframes brilhoBottomLeft {
    0% {
        transform: translate(-100%, 100%) rotate(25deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(100%, -100%) rotate(25deg);
        opacity: 0;
    }
}





.colaborador.ferias .nome::after {
    content: "\f5ca";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--preto);
    margin-left: 4px;
}

.colaborador.afastamento .nome::after {
    content: "\e547";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

.colaborador.saude .nome::after {
    content: "\e05c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

.colaborador.paternidade .nome::after {
    content: "\f77c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--preto);
    margin-left: 4px;
}

.colaborador .nome {
    text-align: left;
    min-width: 65px;
    font-size: 11px;
    white-space: nowrap;
}

.colaborador I {
    font-size: 8px;
    width: 10%;
}

.colaborador .bt_tirarColab {
    right: 0;
    float: right;
    visibility: hidden;
}

.p_colabs .colaborador .bt_tirarColab {
    right: 0;
    cursor: pointer;
    float: right;
    visibility: visible;
}

.colaborador .bt_tirarColab:hover {
    color: var(--vermelho);
}

.colaborador.selecionado {
    outline: 1px dashed #1e90ff;
    background-color: #e6f2ff;
}

.colaborador.selecionado .nome {
    color: var(--texto_cinza) !important;
}

.colaboradorEmOS {
    background-color: #afafaf;
    width: 90px;
}

.colaboradorEmOS .nome {
    color: var(--branco) !important;
}

.colaboradorEmOS .ocupadoEmOS {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px 5px;
    font-size: 10px;
    color: var(--texto_cinza);
    right: 28px;
    background-color: rgb(241, 241, 241);
    height: 18px;
    border: 1px solid #afafaf;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.i_colabLiberado {
    color: green;
}

.i_colabBloqueado {
    color: red;
    cursor: help;
}



.buscarColab {
    position: relative;
    order: 9999;
}

.buscarColab INPUT {
    padding: 4px 8px 4px 8px;
    width: 85px;
    height: 9px;
    border-radius: 10px;
    border: 1px solid gray;
}

.p_infoAcoes {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 4px 10px 2px 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 12px;
}

.p_infoAcoes .p_totalColabs {
    display: flex;
    gap: 3px;
    color: rgb(168, 168, 168);
}

.i_statusOSexecutando {
    color: var(--status_projetoExecutando);
}

.i_statusOSAguardando {
    color: var(--status_projetoAguardando);
}

.bt_exportDados {
    padding-left: 10px;
    color: var(--botao_acao);
}

.bt_exportDados:hover {
    color: var(botao_acao_hover);
    cursor: pointer;
}


.p_btAcoes {
    color: var(--botao_acao);

}

.p_btAcoes I {
    padding-left: 3px;
}

.p_btAcoes I:hover {
    color: var(--botao_acao_hover);
    cursor: pointer;
}

.matchOS {
    background-color: #e6f7ff !important;
    /* leve azul de destaque */
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4) !important;
    z-index: 1;
}

.noMatchOS {
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
}

.painel_OS.fixadO {
    order: -10;
}

.painel_OS {
    order: 0;
}

.fixadoOS {
    color: var(--vermelho);
}

.encarregado {
    color: var(--amarelo);
}

.lider {
    color: #00c0da;
}

.terceiro {
    color: #aaaaaa;
}

#overlay_comentario {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 998;
}

#box_comentario {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--branco);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#comentario_texto {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.bt_comentario.comentario-ativo {
    color: rgb(0, 190, 0);
}

#overlay_checklist {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 998;
}




#box_checklist {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--branco);
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 999;
    width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#box_checklist h4 {
    margin-top: 0;
}

#checklist_itens {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    border-block: 1px solid rgb(226, 226, 226);
}

.check-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.check-item input[type="checkbox"] {
    margin-right: 8px;
}

.check-item span {
    flex: 1;
}

.check-item .remover {
    color: red;
    cursor: pointer;
    font-size: x-small;
    margin-left: 8px;
}

.novo-item {
    display: flex;
    gap: 5px;
}

.novo-item input {
    flex: 1;
}

.bt_checklist.checklist-ativo {
    color: rgb(0, 190, 0);
}


.painel_OS.prioridade-alta {
    border-left: 6px solid rgb(231, 76, 76);
}

.bt_prioridade {
    cursor: pointer;
    color: var(--botao_acao);
}

.bt_prioridade.alta {
    color: var(--alerta);
}

.filtro_prioridade_btn.ativo i {
    color: var(--alerta);
}

.modo_foco_btn.ativo i {
    color: #0d6efd;
    /* azul */
}

.sugestoes {
    position: absolute;
    background: var(--branco);
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    z-index: 99;
    width: 100px;
}

.itemSugestao {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 11px;
}

.itemSugestao:hover {
    background-color: #f0f0f0;
}

.itemSugestao.selecionado {
    background-color: #dce9ff;
}

.highlighted {
    animation: flash 0.3s ease-in-out;
}

@keyframes flash {
    0% {
        background-color: rgb(194, 231, 201);
    }

    100% {
        background-color: transparent;
    }
}


#overlay_nome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

#box_nome_usuario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--branco);
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/* Carregamento do Sistema */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(36, 36, 36);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.logoLoading {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.loadingText {
    font-size: 12px;
    margin-bottom: 15px;
    color: #474747;
}

.loadingProgress {
    font-size: 13px;
    font-weight: bold;
    color: #8f8f8f;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.exportBtn {
    cursor: pointer;
}

.popup-menu-exportar {
    display: none;
    position: absolute;
    background-color: var(--branco);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 5px 0;
    border-radius: 4px;
    width: 150px;
}

.popup-option {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: var(--branco);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 5px 0;
    border-radius: 4px;
    width: 150px;
    font-size: 12px;
}

.popup-option-menu {
    padding: 8px 12px;
    cursor: pointer;
}

.popup-option-menu:hover {
    background-color: #f0f0f0;
}


.popup-option:hover {
    background-color: #f0f0f0;
}

/* BUSCAR OS */
.input-clearable {
    width: 140px;
    position: relative;
    display: inline-block;
}

.input-clearable input {
    padding-right: 1.5em;
    /* espaço para o X */
}

.input-clearable .clear-btn {
    position: absolute;
    top: 50%;
    right: 1.2em;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    color: #aaa;
    display: none;
    /* escondido por padrão */
}

.input-clearable .clear-btn:hover {
    color: #666;
}

.iconeStatusDia {
    display: inline-block;
    transition: transform 0.3s ease;
}

.rotate {
    animation: rotateIcon 0.3s linear;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.shake {
    animation: shakeicon 0.4s ease-in-out;
}

@keyframes shakeicon {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-4px);
    }

    40% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}

.iluminar_verde {
    animation: iluminar 60s ease-in-out;
}

@keyframes iluminar {
    0% {
        box-shadow: 1px 1px 20px 2px #93e690;
    }

    100% {
        box-shadow: 1px 1px 20px 1px #b6b6b6;
    }
}

/* Form AVISO */
.aviso,
.debug,
.cad,
.cadOS {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.aviso-content {
    background: #222;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-fill {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 1s linear;
}

#btn-ok {
    margin-top: 20px;
    padding: 10px 20px;
    background: #4caf50;
    color: var(--branco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#btn-ok:hover {
    background-color: #43a047;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.overlay-transferencia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.411);
    /* transparente */
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.overlay-transferencia i {
    font-size: 24px;
    color: var(--branco);
}


.overlay-transferencia:not(.selecionado) i {
    opacity: 0.7;
    color: #aaa;
}

.overlay-transferencia:not(.selecionado) {
    background-color: rgba(93, 131, 133, 0.089);
}

.modal-overlay-data {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* centraliza */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content-data {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    min-width: 230px;
    max-width: 90vw;
}

.modal-content-data h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
}

.modal-content-data input[type="date"] {
    padding: 6px 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.fechar-modal-data {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    color: #888;
}

.fechar-modal-data:hover {
    color: #000;
}

.fa-check-to-slot {
    scale: 1.2;
    color: var(--verde_2) !important;
    transition: scale 0.2s ease, color 0.2s ease;
}

.fa-arrows-turn-right {
    transition: scale 0.2s ease, color 0.2s ease;
    color: var(--texto_cinza);
    /* ou a cor original do botão */
    scale: 1;
}