

.painel_pagina {
    position: relative;
    z-index: auto;
    color: #181818;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.swal2-container {
    z-index: 99999 !important;
}

.painel_menuSuperior {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.painel_EsqBtAcoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.direitaflex {
    margin-left: auto;
    /* empurra os seguintes para a direita */
}

#usuarios_online {
    font-size: 10px;
}

#seletor_data {
    width: 120px;
    cursor: pointer;
}

.bt_abrirmenu {
    cursor: pointer;
}


.dark-mode {
    background-color: #272727 !important;
    color: #c0c0c0;
}

.dark-mode-border {
    border: 1px solid rgb(31, 31, 31);
    box-shadow: 1px 1px 1px 1px rgb(31, 31, 31) !important;
}

.dark-mode-inverter {
    background-color: rgb(51, 51, 51) !important;
    color: #c0c0c0 !important;
}




.painel_semanal {
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    flex-wrap: wrap;
}

.conjuntoServidor i {
    padding-left: 2px;
}

#status {
    padding-left: 5px;
}

.painelDia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 360px;
    margin-top: 20px;
    border-radius: 10px;
}

.painel_Dia {
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

.painelDia.bloqueado {
    pointer-events: none;
    opacity: 0.4;
}

.diaanterior {
    background-color: #7272728a;
}


.diahoje {
    background-color: #436c808f;
}

.diaamanha,
.diaamanha2,
.diaamanha3 {
    background-color: #43805c5d;
}

.painelInfoDia {
    position: relative;
    z-index: 1000;
    /* maior que 888 */
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 30px;
}

.iconeStatusDia {
    position: absolute;
    z-index: 1001 !important;
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
    width: 20px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    background-color: #ffffff;
    top: -15px;
    right: -65px;

}

.iconeStatusDia i.fa-file-signature {
    font-size: 16px;
    color: rgb(170, 49, 49);
    cursor: pointer;
}

.iconeStatusDia i.fa-file-circle-check {
    font-size: 16px;
    transform: scale(1.2);
    color: rgb(69, 170, 49);
    cursor: pointer;
}

.iconeStatusDia i.fa-file-zipper {
    font-size: 16px;
    color: #666;
}

.painel_colaboradores {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}

.p_colabsDisp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    max-height: 195px;
    gap: 8px;
    flex-wrap: wrap;
    align-content: flex-start;
    scroll-behavior: smooth;
    position: relative;
}

.seta-esquerda {
    left: 5px;
}

.seta-direita {
    right: 5px;
}


.painel_BuscaOS {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 12px;
    padding-block: 10px;
}

.painel_BuscaOS .pesquisarOS {
    padding: 8px 8px 8px 8px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
}

.buscaLadoEsq {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.buscaLadoEsq i {
    font-size: 15px;
    color: #9b9b9b;
    padding: 8px 8px 8px 8px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 5px;
}

.filtroLadoDir {
    display: flex;
    align-items: center;
}

.filtroLadoDir i {
    font-size: 15px;
    color: #9b9b9b;
    padding: 8px 8px 8px 8px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: var(--branco);
    margin-left: 5px;
}

.filtroLadoDir i:hover,
.buscaLadoEsq i:hover {
    color: var(--fundo_noturno);
    cursor: pointer;
}

.painel_daOS {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 8px;
}

.painel_OS {
    z-index: 1;
    display: block;
    padding: 0px !important;
    transition: all 0.3s ease;
    min-width: 340px;
    max-width: 340px;
    border: 2px solid var(--cor_fundotabela);
    border-radius: 10px
}

.painel_OS .p_infoOS {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 2px;
    padding: 6px 8px 4px 8px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    background-image: linear-gradient(180deg, #00000038, #fbfbfb00);
}

.painel_OS .p_infoOS .lbl_OS {
    font-weight: bold;
    cursor: pointer;
    width: 18%;
    text-align: left;
}

.painel_OS .p_infoOS .lbl_OS:hover {
    color: #000;
    scale: 1.1;
}

.painel_OS .p_infoOS .lbl_descricaoOS {
    width: 64%;
    text-align: center;
    white-space: nowrap;
    /* Impede quebra de linha */
    overflow: hidden;
    /* Oculta o que passar da largura */
    text-overflow: ellipsis;
    /* Adiciona "..." no fim */
}

.painel_OS .p_infoOS .lbl_clienteOS {
    width: 18%;
    text-align: right;
    white-space: nowrap;
    /* Impede quebra de linha */
    overflow: hidden;
    /* Oculta o que passar da largura */
    text-overflow: ellipsis;
    /* Adiciona "..." no fim */
}

.p_colabs {
    display: none;
}

.p_colabs:has(.colaborador),
.p_colabs:has(.buscarColab) {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    gap: 5px;
    padding: 5px;
}

.p_colabsDisp .colaborador:has(.nome.lider) {
    display: none;
}

.destino-highlight {
    background-color: var(--painel_ColabAceita) !important;
    /* verde claro */
    transition: background-color 0.2s ease;
}

.destino-validado {
    background-color: var(--painel_ColabAceitaDentro) !important;
    /* verde claro */
    transition: background-color 0.2s ease;
}


.colaborador {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 6px 6px 6px;
    text-align: center;
    height: 13px;
    border: 1px solid #373839;
    width: 90px;
    border-radius: 10px;
    color: var(--texto-principal);
    background-color: var(--bg-bloco);
}


.colaborador:hover {
    scale: 1.05;
}

.colaborador.ferias {
    background-color: var(--ferias);
}

.colaborador.afastamento {
    background-color: var(--afastado);
}

.colaborador.saude {
    background-color: var(--saude);
}

.colaborador.paternidade {
    background-color: var(--paternidade);
}

.colaborador.falta-indevida {
    background-color: var(--faltaindevida);
}

.colaborador.afastamento .nome {
    color: var(--branco);
}

.colaborador.saude .nome {
    color: var(--branco);
}

.colaborador.ferias .nome {
    color: var(--preto);
}

.colaborador.paternidade .nome {
    color: var(--preto) !important;
}

.colaborador.aniver {
    position: relative;
    overflow: hidden;
}


.colaborador.falta-indevida {
    color: var(--branco) !important;
}

.colaborador.status-integracao-vencido{
    background: linear-gradient(90deg, #790f0faf, red);
    border-left: 2px solid var(--vermelho);
    border-top: 1px solid #373839;
    border-bottom: 1px solid #373839;
    border-right: 1px solid #373839;
    color: var(--branco);
}

.colaborador.status-integracao-atenção{
    background: linear-gradient(270deg, #ff8800 0% 1%, var(--bg-bloco) 18% 100%);
    border-top: 1px solid #373839;
    border-bottom: 1px solid #373839;
    border-right: 1px solid #373839;
}

.colaborador.status-integracao-pendente{
    background: linear-gradient(270deg, var(--cor-cinza-700) 0% 1%, var(--bg-bloco) 18% 100%);
    border-top: 1px solid #373839;
    border-bottom: 1px solid #373839;
    border-right: 1px solid #373839;
}

.colaborador.status-integracao-integrado{
    background: linear-gradient(270deg, rgb(0, 190, 0) 0% 1%, var(--bg-bloco) 18% 100%);
    border-top: 1px solid #373839;
    border-bottom: 1px solid #373839;
    border-right: 1px solid #373839;
}

.colaborador.aniver::before {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, transparent, rgba(255, 255, 255, 0.493), transparent);
    transform: rotate(25deg);
    animation: brilhoBottomLeft 2.5s infinite;
}

.colaborador.aniver .nome {
    color: var(--branco);
}

.colaborador.aniver .nome::after {
    content: "\f1fd";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

@keyframes brilhoBottomLeft {
    0% {
        transform: translate(-100%, 100%) rotate(25deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(100%, -100%) rotate(25deg);
        opacity: 0;
    }
}

.colaborador .exame_ok {
    color: var(--verde_2);
}

.colaborador .exame_falta {
    color: rgb(255, 255, 255);
}

.colaborador .exame_alerta {
    color: rgb(255, 136, 0);
}

.colaborador .exame_vencido {
    color: var(--vermelho);
}

.colaborador .exame_demissional {
    color: var(--preto);
}


.colaborador.ferias .nome::after {
    content: "\f5ca";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--preto);
    margin-left: 4px;
}

.colaborador.afastamento .nome::after {
    content: "\e547";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

.colaborador.saude .nome::after {
    content: "\e05c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

.colaborador.paternidade .nome::after {
    content: "\f77c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--preto);
    margin-left: 4px;
}

.colaborador.falta-indevida .nome::after {
    content: "\3f";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--branco);
    margin-left: 4px;
}

.colaborador .nome {
    text-align: left;
    min-width: 65px;
    font-size: 11px;
    white-space: nowrap;
}

.colaborador I {
    font-size: 8px;
    width: 10%;
}

.colaborador .bt_tirarColab {
    right: 0;
    float: right;
    visibility: hidden;
}

.p_colabs .colaborador .bt_tirarColab {
    right: 0;
    cursor: pointer;
    float: right;
    visibility: visible;
}

.colaborador .bt_tirarColab:hover {
    color: var(--vermelho);
}

.colaborador.selecionado {
    outline: 1px dashed #1e90ff;
    background-color: #e6f2ff;
}

.colaborador.selecionado .nome {
    color: var(--texto_cinza) !important;
}

.colaboradorEmOS {
    background-color: #c2c2c280;
    width: 90px;
}

.colaboradorEmOS .nome {
    color: var(--branco) !important;
}

.colaboradorEmOS .ocupadoEmOS {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px 5px;
    font-size: 10px;
    color: var(--texto_cinza);
    right: 28px;
    background-color: rgb(214, 214, 214);
    height: 25px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.i_colabLiberado {
    color: green;
}

.i_colabBloqueado {
    color: red;
    cursor: help;
}



.buscarColab {
    position: relative;
    order: 9999;
}

.buscarColab INPUT {
    padding: 6px 8px 6px 8px;
    width: 85px;
    height: 9px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.459);
}

.p_infoAcoes {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 4px 10px 2px 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 12px;

    background-image: linear-gradient(360deg, #00000038, #fbfbfb14);
}

.p_infoAcoes .p_totalColabs {
    display: flex;
    gap: 3px;
    color: var(--bt-acao-os);
}

.i_statusOSexecutando {
    color: var(--status_projetoExecutando);
}

.i_statusOSAguardando {
    color: var(--status_projetoAguardando);
}

.bt_exportDados {
    padding-left: 10px;
    color: var(--bt-acao-os);
}

.bt_exportDados:hover {
    color: var(--botao_acao_hover);
    cursor: pointer;
}


.p_btAcoes {
    color: var(--bt-acao-os);

}

.p_btAcoes I {
    padding-left: 3px;
}

.p_btAcoes I:hover {
    color: var(--botao_acao_hover);
    cursor: pointer;
}

.matchOS {
    background-color: #e6f7ff !important;
    /* leve azul de destaque */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4) !important;
    z-index: 1;
    color: var(--preto) !important;
}

.noMatchOS {
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
}

.painel_OS.fixadO {
    order: -10;
}

.painel_OS {
    order: 0;
}

.fixadoOS {
    color: var(--vermelho);
}

.encarregado {
    color: var(--amarelo);
}

.lider {
    color: #00c0da;
}

.terceiro {
    color: #aaaaaa;
}

#overlay_comentario {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 998;
}

#box_comentario {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--branco);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#comentario_texto {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.bt_comentario.comentario-ativo {
    color: rgb(0, 190, 0);
}

#overlay_checklist {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 998;
}




#box_checklist {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--branco);
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 999;
    width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#box_checklist h4 {
    margin-top: 0;
}

#checklist_itens {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    border-block: 1px solid rgb(226, 226, 226);
}

.check-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.check-item input[type="checkbox"] {
    margin-right: 8px;
}

.check-item span {
    flex: 1;
}

.os_semColab {
    opacity: 0.4;
}

.os_semColab:hover {
    opacity: 1 !important;
}


.check-item .remover {
    color: red;
    cursor: pointer;
    font-size: x-small;
    margin-left: 8px;
}

.novo-item {
    display: flex;
    gap: 5px;
}

.novo-item input {
    flex: 1;
}

.bt_checklist.checklist-ativo {
    color: rgb(0, 190, 0);
}


.painel_OS.prioridade-alta {
    border: 1px solid rgb(231, 76, 76) !important;
    border-left: 6px solid rgb(231, 76, 76) !important;
}

.bt_prioridade {
    cursor: pointer;
    color: var(--bt-acao-os);
}

.bt_prioridade.alta {
    color: var(--alerta);
}

.filtro_prioridade_btn.ativo i {
    color: var(--alerta);
}

.modo_foco_btn.ativo i {
    color: #0d6efd;
    /* azul */
}

.sugestoes {
    position: absolute;
    background: var(--branco);
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    z-index: 999;
    width: 100px;
    overflow-y: auto;

    max-height: 250px;
    /* Oculta a barra de rolagem nos principais navegadores */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.sugestoes::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.itemSugestao {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 11px;
}

.itemSugestao:hover {
    background-color: #f0f0f0;
}

.itemSugestao.selecionado {
    background-color: #dce9ff;
}

.highlighted {
    animation: flash 0.3s ease-in-out;
}

@keyframes flash {
    0% {
        background-color: rgb(194, 231, 201);
    }

    100% {
        background-color: transparent;
    }
}


#overlay_nome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

#box_nome_usuario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--branco);
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.status_daOSnaOS {
    margin-left: 2px;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    text-shadow: 1px -1px 3px black;
    top: 9px;
    left: 35px;
    z-index: 22;
    transform-origin: top left; /* 🔹 fixa o ponto de rotação */
}

.status_daOSnaOS:hover {
    left: 38px;
    cursor: pointer;
    scale: 1.2;
    opacity: 1;
}

/* Efeito de balanço com leve flutuação e fade */
@keyframes balancarSuave {
    
    0%  { transform: rotate(-3deg) translateY(0px); opacity: 1; }
    10%  { transform: rotate(3deg) translateY(0px); opacity: 0.9; }
    20%  { transform: rotate(-2deg) translateY(-0px); opacity: 1; }
    30% { transform: rotate(0deg) translateY(0px); opacity: 0.95; }
    40%  { transform: rotate(-3deg) translateY(0px); opacity: 1; }
    50%  { transform: rotate(3deg) translateY(0px); opacity: 0.9; }
    55%  { transform: rotate(-2deg) translateY(-0px); opacity: 1; }
    60% { transform: rotate(0deg) translateY(0px); opacity: 0.95; }
    70%  { transform: rotate(-3deg) translateY(0px); opacity: 1; }
    80%  { transform: rotate(3deg) translateY(0px); opacity: 0.9; }
    90%  { transform: rotate(-2deg) translateY(-0px); opacity: 1; }
    100% { transform: rotate(0deg) translateY(0px); opacity: 0.95; }
}

@keyframes aumentar {
    
    0%  { transform:  scale(1.1)}
    100% { transform:  scale(1.0)}
}

.status_daOSnaOS.semresponsavel {
    color: var(--status_projetoSemResp);
}

.status_daOSnaOS.parado {
    color: var(--status_projetoParado);
    animation: aumentar 1.5s ease-in-out infinite;
}

.status_daOSnaOS.aguardando {
    color: var(--status_projetoAguardando);
}

.status_daOSnaOS.emexecução {
    color: var(--status_projetoExecutando);
}

.status_daOSnaOS.concluído {
    color: var(--status_projetoConcluido);
}

.status_daOSnaOS.cancelado {
    color: var(--status_projetoCancelado);
}

.status_daOSnaOS.emespera {
    color: var(--status_projetoEmEspera);
}

.logoLoading {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.loadingText {
    font-size: 12px;
    margin-bottom: 15px;
    color: #474747;
}

.loadingProgress {
    font-size: 13px;
    font-weight: bold;
    color: #8f8f8f;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.exportBtn {
    cursor: pointer;
}

.popup-menu-exportar {
    display: none;
    position: absolute;
    background-color: var(--branco);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 5px 0;
    border-radius: 4px;
    width: 150px;
    color: var(--preto);
}

.popup-option {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
}

.popup-menu {
    display: none;
    position: absolute;
    z-index: 900;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.37) !important;
}

.popup-option-menu {
    padding: 8px 12px;
    cursor: pointer;
}

.popup-option-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
    cursor: pointer;
    color: var(--preto);
}


.popup-option:hover {
    background-color: #f0f0f0;
}

/* BUSCAR OS */
.input-clearable {
    width: 140px;
    position: relative;
    display: inline-block;
}

.input-clearable input {
    padding-right: 1.5em;
    /* espaço para o X */
}

.input-clearable .clear-btn {
    position: absolute;
    top: 50%;
    right: 1.2em;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    color: #aaa;
    display: none;
    /* escondido por padrão */
}

.input-clearable .clear-btn:hover {
    color: #666;
}


.rotate {
    animation: rotateIcon 0.3s linear;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.shake {
    animation: shakeicon 0.4s ease-in-out;
}

@keyframes shakeicon {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-4px);
    }

    40% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}

.iluminar_verde {
    animation: iluminar 60s ease-in-out;
}

@keyframes iluminar {
    0% {
        box-shadow: 1px 1px 20px 2px #93e690;
    }

    100% {
        box-shadow: 1px 1px 20px 1px #b6b6b6;
    }
}

/* Form AVISO */
.aviso,
.debug,
.cad,
.cadOS,
.anexoexame,
.anexocurso,
.anexoepi,
.anexointegracao,
.cadCliente,
.cadSupervisor,
.cadCidade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg_fundo_form);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.aviso-content {
    background: #222;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-fill {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 1s linear;
}

#btn-ok {
    margin-top: 20px;
    padding: 10px 20px;
    background: #4caf50;
    color: var(--branco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#btn-ok:hover {
    background-color: #43a047;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.icone-calendario {
    position: relative;
    border: none;
    background: #eee;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.icone-calendario::after {
    content: attr(data-count);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 999px;
    padding: 0 4px;
    background: #7b5cff;
    color: #fff;
}

.icone-calendario[data-count=""]::after {
    display: none;
}


.overlay-transferencia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.411);
    /* transparente */
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.overlay-transferencia i {
    font-size: 24px;
    color: var(--branco);
}


.overlay-transferencia:not(.selecionado) i {
    opacity: 0.7;
    color: #aaa;
}

.overlay-transferencia:not(.selecionado) {
    background-color: rgba(93, 131, 133, 0.089);
}

.modal-overlay-data {
    display: flex;
    /* centralização */
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 9999;
}


.modal-content-data {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    width: 200px;
}

.modal-content-data h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(63, 63, 63);
    font-size: 11px;
}

.modal-content-data input[type="date"] {
    padding: 6px 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.fechar-modal-data {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    color: #888;
}

.fechar-modal-data:hover {
    color: #000;
}

.fa-check-to-slot {
    scale: 1.2;
    color: var(--verde_2) !important;
    transition: scale 0.2s ease, color 0.2s ease;
}

.fa-arrows-turn-right {
    transition: scale 0.2s ease, color 0.2s ease;
    color: var(--texto_cinza);
    /* ou a cor original do botão */
    scale: 1;
}



.p_colabs .colaborador.supervisor {
    border: 1px dashed gold;
    position: relative;
}

.p_colabs .colaborador.supervisor::before {
    content: "⭐";
    font-size: 11px;
    position: absolute;
    left: 2px;
}

.menuMouseDir {
    position: absolute;
    border-radius: 8px;
    z-index: 1000;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    background: var(--bg-card);
    color: var(--texto-principal);
}

.menuMouseDir .opcao-menu:hover {
    background-color: var(--bt-hover);
    cursor: pointer;
}

.menuMouseDir .opcao-menu {
    padding: 8px 8px;
    border-radius: 6px;
}