/* Estilo para celulares (telas Pequenas) */
@media (max-width: 385px) {
    body {
        position: relative;
    }

    .painel_EsqBtAcoes {
        gap: 5px;
    }

}


/* Estilo para celulares (telas Médias) */
@media (max-width: 600px) {
    body {
        background-color: rgb(31, 31, 31);
        font-size: 14px;
        -webkit-user-select: none;
        /* iOS, Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge antigo */
        user-select: none;
        /* padrão */
        position: fixed;
        width: 100vw;   /* 100% da largura da tela (viewport width) */
        height: 100vh; /* 100% da altura da tela (viewport height) */
    }



    .painel_menuSuperior {
        background-color: rgb(31, 31, 31);
        color: white;
    }

    .popup-menu {
        display: none;
        position: absolute;
        background-color: var(--fundo_noturno);
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
        padding: 5px 0;
        border-radius: 4px;
        width: 150px;
        z-index: 999;
    }

    .popup-option-menu {
        color: var(--branco);
        padding: 8px 12px;
        cursor: pointer;
    }

    #notification-count {
        display: none;
        background: rgb(201, 46, 46);
        color: white;
        border-radius: 50%;
        padding: 2px 4px;
        font-size: 10px;
        position: relative;
        top: -7px;
        right: 2px;
    }


    .notification-lista {
        display: none;
        position: absolute;
        color: var(--branco);
        font-size: 11px;
        right: 0;
        top: 34px;
        background-color: rgb(31, 31, 31);
        ;
        border: none;
        box-shadow: 1px 1px 5px 2px rgb(31, 31, 31);
        border-radius: 0px 0 10px 10px;
        padding: 4px;
        width: 99%;
        z-index: 100;
    }


    .popup-option-menu:hover {
        background-color: var(--verde_hover);
    }

    #usuarios_online,
    #lista_usuarios_online {
        font-size: 8px;
        width: 40%;
    }

    .conjuntoServidor i {
        padding-left: 0px;
    }

    #status {
        font-size: 8px;
        padding-left: 1px;
    }

    #seletor_data {
        width: 100px;
        color: grey;
        cursor: pointer;
    }

    .tbx_pesquisarOS {
        font-size: 12px;
    }

    .painel_Padrao {
        border: 1px solid #afafaf;
        box-shadow: none;
        border-radius: 10px;
        padding: 0px;
        margin: 0;
    }

    .painel_semanal {
        padding: 0;
        border: none;
    }

    .painelDia {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        margin-left: 0;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }

    .diahoje {
        background-color: none !important;
    }

    .diaanterior,
    .diaamanha,
    .diaamanha2,
    .diaamanha3 {
        display: none !important;
    }

    .painel_Dia {
        display: flex;
        position: relative;
        padding: 8px;
        height: 15px;
        font-weight: bold;
        align-items: center;
        border-radius: 0 10px 10px 0;
        border: 1px solid rgb(204, 204, 204);
        background-color: #f1f1f1;
        top: -12px;
    }

    .painel_colaboradores {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 98%;
        overflow: hidden;
        position: relative;
        padding-right: 20px;
    }

    .p_colabsDisp {
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
        max-width: none;
        max-height: 110px;
        overflow-x: auto;
        scroll-behavior: smooth;
        position: relative;
        margin-right: -300px;
        padding: 6px 10px;
    }
    #scrollDiv {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        width: 100%;
        max-width: 100vw
    }
    .seta {
        position: absolute;
        font-size: 18px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(66, 66, 66, 0.226);
        color: rgba(255, 255, 255, 0.842);
        padding: 10px;
        cursor: pointer;
        z-index: 997;
        border-radius: 10%;
        user-select: none;
        pointer-events: none;
    }



    .p_colabsDisp .colaborador {
        height: 30px;
        width: 120px;
    }

    .p_colabsDisp .colaborador .nome {
        text-align: left;
        min-width: 65px;
        font-size: 13px;
        white-space: nowrap;
    }

    .p_colabsDisp .colaborador:has(.nome.lider) {
        display: none;
    }

    .p_colabs:has(.colaborador),
    .p_colabs:has(.buscarColab) {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        gap: 5px;
        padding: 10px;
    }

    .p_colabs .colaborador {
        height: 20px;
        width: 103px;
        display: flex;
    }

    .colaborador:hover {
        scale: none;
    }

    .p_colabs .colaborador .nome {
        font-size: 12px;
        min-width: 73px;
    }

    .p_colabs .colaborador .bt_tirarColab {
        cursor: pointer;
        font-size: 12px;
        float: right;
        visibility: visible;
    }

    .colaboradorEmOS .ocupadoEmOS {
        height: 34px;
        width: 22px;
        right: -1px;
        text-align: center;
    }


    .painelInfoDia {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;
        height: 18px;
        width: 100%;
        padding-left: 0px;
    }

    .iconeStatusDia {
        position: relative;
        align-items: center;
        padding: 4px;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 10px 0 0 10px;
        width: 26px;
        height: 26px;
        text-align: center;
        border: 1px solid rgb(204, 204, 204);
        background-color: #f1f1f1;
        top: -12px;
        left: 0;
    }

    .iconeStatusDia i.fa-file-signature {
        font-size: 22px;
    }

    .iconeStatusDia i.fa-file-circle-check {
        font-size: 22px;
    }

    .iconeStatusDia i.fa-file-zipper {
        font-size: 22px;
    }

    .painel_BuscaOS {
        display: flex;
        width: 98%;
        border-radius: 0px;

    }

    .painel_Padrao.painel_BuscaOS {
        border: none;
    }

    input,
    textarea,
    select {
        font-size: 16px;
        -webkit-user-select: text;
        /* iOS, Safari */
        -moz-user-select: text;
        /* Firefox */
        -ms-user-select: text;
        /* Internet Explorer/Edge antigo */
        user-select: text;
        /* padrão */
    }

    .buscaLadoEsq {
        display: flex;
        width: 100%;
        margin: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    .buscaLadoEsq .fa-magnifying-glass {
        font-size: 16px;
        color: #818181;
    }

    .filtroLadoDir i {
        font-size: 20px;
    }

    .filtroLadoDir .filtroFocar {
        padding-right: 10px;
    }

    .input-clearable {
        position: relative;
        display: inline-block;
    }

    .painel_BuscaOS .pesquisarOS {
        padding: 0px 8px 0px 8px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #dbdbdb;
    }

    .input-clearable .clear-btn {
        font-size: 2em;
        right: 0.4em;
    }

    .bt_padrao {
        background-color: var(--white);
        border-radius: 5px;
        border: 1px solid var(--cor_letraFundo);
        width: 100px;
        height: 40px;
        margin: 0;
        cursor: pointer;
    }

    .sugestoes {

        width: 115px;
    }

    .itemSugestao {
        padding: 10px 10px;
        font-size: 12px;
    }

    .painel_daOS {
        padding: 10px;
        gap: 10px;
        width: 99%;
    }

    .painel_OS {
        min-width: 330px;
        max-width: none;
    }

    .painel_OS:last-child {
        margin-bottom: 110px;
    }

    .painel_OS .p_infoOS P {
        font-size: 14px;
    }

    .p_infoAcoes i {
        font-size: 16px;
        color: rgb(187, 187, 187);
    }

    .p_infoAcoes .lbl_total {
        font-size: 14px;
    }

    .buscarColab INPUT {
        padding: 4px 8px 4px 8px;
        width: 99px;
        height: 18px;
        border-radius: 10px;
        border: 1px solid gray;
    }




    /* FORM CADASTRO USUARIO */
    .painel_principal {
        display: flex;

        height: 100%;
        width: 100%;
        background-color: var(--branco);
    }

    .painel_todos {
        width: 90%;
        background-color: var(--branco);
        border-radius: 10px 0 0 10px;
        padding: 0px;
        min-width: 0;
    }

    .painel_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 10%;
        background-color: var(--fundo_noturno);
        border-radius: 0 8px 8px 0;
    }

    .bt_menu {
        padding: 0;
        padding-block: 6px;
        color: var(--branco);
    }


    .linha_padrao select,
    .linha_padrao input {
        height: 30px;
        font-size: 16px;
    }

    .dataNasc {
        text-align: right;
    }

    #nascimento,
    #datainicio,
    #datafinal {
        font-size: 14px;
        color: var(--fundo_noturno);
    }

    #telefone {
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }

    .linha_Setor {
        display: block;
    }

    #categoria,
    #motivo {
        color: var(--texto_cinza);
        width: 100%;
    }

    #cpf,
    #rg {
        width: 122px;
        text-align: left;
        padding-left: 10px;
    }


    .bt_cad {
        color: var(--fundo_noturno);
        font-weight: 100;
    }

    #areaGraficoHist {
        height: 100%;
        /* Use apenas se o pai tiver altura definida */
        min-height: 640px;
        /* Para não ultrapassar a tela */
        position: relative;
    }

    #graficoHistClientes {
        width: 100% !important;
        height: 100% !important;
    }
}

/* Estilo para tablets (telas médias) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {}
}

/* Estilo para notebooks (telas grandes) */
@media (min-width: 1025px) and (max-width: 1440px) {
    body {}
}

/* Estilo para monitores maiores (telas muito grandes) */
@media (min-width: 1441px) {
    body {}
}