:root {
    --azul_1: #0C80C1;
    --verde_1: #05BA37;
    --verde_2: #258E43;
    --amarelo: #F0C428;
    --laranja_1: #FF8A00;
    --vermelho: #B13434;
    --white: #ffffff;
    --cinza_claro: #b8b8b8;
    --cinza_tituloForm: #7C7C7C;
    --black: #000000;
    --papel: #EEF2D4;
    --form: #333;
    --menu_hover: #353535;
    --menu_1: #222222;
    --menu_2: #202020;
    --text_excuro: #121212;
    --pagina: #d1d1d1;


    --status_projetoSemResp: #505050;
    --status_projetoParado: #c53838;
    --status_projetoAguardando: #CD6702;
    --status_projetoExecutando: #007B97;
    --status_projetoConcluido: #00972A;
    --status_projetoEmEspera: #dfe224;

    --borda_barraQuaseBranca: #eeeeee;
    --cor_letraFundo: #e4e4e4;
    --cor_fundotabela: #d6d6d6;
    --cor_fundoPainelAnexos: #b2eec3;

    --cor_LetrasSelect: #3F3F3F;

    --cor_fundoConfirmado: #568d56f1;
    --cor_fundoAlterado: #8d8556f1;
    --cor_fundoAvisos: #868686f1;
    --cor_fundoExcluir: #FFD0D0;

    --texto_cinza: #5c5c5c;

    
    --barra_foguete: rgb(108, 192, 105);
}